{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:900|Merriweather|Open+Sans:300,800" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

    <header>
        <div class="row show-for-medium">
            <ul class="menu expanded align-center">
                <li><a href="#">About</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="#"><img src="http://placehold.it/160x67" alt="" /></a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </div>
    </header>

    <main>
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}
    </main>

    <footer>
        <div class="row align-middle">
            <div class="small-12 medium-6 columns">
                <div class="row align-middle">
                    <div class="shrink columns"><a href="#"><img src="http://placehold.it/97x40" alt="" /></a></div>
                    <div class="columns">
                        <ul class="menu menu-info vertical">
                            <li><a href="#">info@hostelmadrid</a></li>
                            <li><a href="#">+34 914 200 583</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <ul class="menu menu-social">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
</body>
</html>
